/AnimalWithPaws.class
/OviparousAnimals.class
/Animal.class
/Cat.class
/Dog.class
/Horse.class
/Fish.class
/Dolphin.class
/Snake.class
/Egg.class
/AnimalThatSwim.class
/OviparousWithPawn.class
/Bird.class
/AnimalDiscovery.class
/OviparousAnimalsWithPaws.class
/OviparousAnimalsWithPas.class
/class
